# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build results
x64/
x86/

# Visual Studio
.vs/
*.vcxproj
*.filters
*.sln
*.user
*.zip
/test
*.vtk
*.log
*.sh

/data/ZBCO2
/data/spe5/refine/tNavgator
/data/spe5/E300
/data/spe5/CMG
/data/spe3/CMG
/data/spe3/E300
/data/spe1a/E100
/data/spe9/E100
/Build
/data/cornerpoint/grid.tmpinfo
/data/.vscode/settings.json
/data/spe11/spe11a/compreg.bat

build/
cmake/
!install-*.sh
!createdoc.sh
/data/spe11/spe11a-OG
/data/spe11/spe11a-OG
/data/spe11/spe11a/diffusion/spe11a.msh
/data/spe11/spe11a/diffusion/1cm
/data/spe11/spe11a/OG
/data/spe11/spe11a/new
/data/spe11/spe11a/OG1
/data/spe11/spe11a/OG-1cm
/data/spe11/spe11a/new-1cm
/data/spe1a/test
/data/spe5/test
/log.txt
